body{
    background-color: rgb(240, 211, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width:700px;
    height: 1440px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    padding: 5px;
}

h2{
    color: hsl(14, 45%, 36%);
}

.omelette{
    color:hsl(332, 51%, 32%) ;
    background-color: hsl(330, 100%, 98%);
    flex-direction: column;
    padding-right: 350px;
    border-radius: 25px;
}

img{
    width: 600px;
    height: 350px;
}

.heart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ptext{
    font-size: 25px;
    margin-right: 320px;
}